.commento-root * {
  color: inherit;
}

.commento-root .commento-card .commento-name {
  color: inherit;
}

.commento-root .commento-logged-container .commento-logged-in-as .commento-name {
  color: inherit;
}

.commento-root .commento-markdown-help tr td pre{
  padding: 0;
}

.commento-root textarea {
  background: #3B3E48;
}

.commento-root input[type="text"], .commento-root textarea {
  color: inherit;
}